.attachment {
  .icon {
    width: 30px;
  }

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
  }
}
