.todo {
  width: 100%;
  max-width: 450px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #e7e7e7;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    & > .btn {
      font-size: 22px;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
  }

  &__tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 600px;
    overflow-y: auto;
  }

  .no-content {
    font-size: 22px;
    text-align: center;
    width: 100%;
  }
}
